node_modules
.turbo
dist
.next
.env
.env.local
*.pyc
__pycache__/
.pytest_cache/
.venv/
*.pt
/data_set
/docs.local
/apps/web/app/\[locale\]/(learner)/finger-spelling/finger_spelling_dataset
/docs/local/
